---
type Props = {
  author: string;
};

const { author = "Sourav Rakshit" } = Astro.props;
---

<header class="mb-14 flex flex-row place-content-between w-full">
  <a
    class="inline-block text-2xl font-black scale-100 active:scale-100"
    href="/blog"><span>curiosity</span></a
  ><span class="relative top-[4px] italic"
    >by
    <a target="_blank" class="scale-100 active:scale-100" href="/">
      {author}
    </a></span
  >
</header>
