---
import "@/styles/portfolio.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sourav Rakshit</title>
    <meta name="description" content="Sourav Rakshit" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="min-h-screen w-full bg-[#101014] relative p-2 font-mono space-y-4"
  >
    <div
      class="absolute inset-0 -z-10 pointer-events-none"
      style={{
        backgroundImage: `
          repeating-linear-gradient(0deg, rgba(255,255,255,0.04) 0, rgba(255,255,255,0.04) 1px, transparent 1px, transparent 40px),
          repeating-linear-gradient(45deg, rgba(0,255,128,0.09) 0, rgba(0,255,128,0.09) 1px, transparent 1px, transparent 20px),
         repeating-linear-gradient(-45deg, rgba(255,0,128,0.10) 0, rgba(255,0,128,0.10) 1px, transparent 1px, transparent 30px),
          repeating-linear-gradient(90deg, rgba(255,255,255,0.03) 0, rgba(255,255,255,0.03) 1px, transparent 1px, transparent 80px),
          radial-gradient(circle at 60% 40%, rgba(0,255,128,0.05) 0, transparent 60%)
        `,
        backgroundSize: "80px 80px, 40px 40px, 60px 60px, 80px 80px, 100% 100%",
        backgroundPosition: "0 0, 0 0, 0 0, 40px 40px, center",
      }}
    >
    </div>
    <header
      class="mx-auto md:max-w-3xl border border-white/5 rounded-md p-2 flex justify-between items-center bg-background/10 backdrop-blur-xs"
    >
      <h1 class="text-2xl font-array">Rax.Folio.25</h1>
      <nav>
        <ul class="flex justify-center items-center gap-2">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/photography">Photography</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="mx-auto md:max-w-3xl h-[640px]">
      <div class="w-full relative">
        <img
          src="/images/self.jpg"
          alt="Sourav Rakshit"
          class="w-full h-full object-cover rounded-md"
        />
        <div class="absolute bottom-4 left-1/2 -translate-x-1/2">
          <h1 class="font-array text-5xl">Sourav Rakshit</h1>
        </div>
      </div>
    </main>
  </body>
</html>
